<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lianhe.jiudaili.dao.CompanyChannelMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.lianhe.jiudaili.entity.CompanyChannel">
		<result column="cid" property="cid" />
		<result column="chid" property="chid" />
	</resultMap>

</mapper>
